<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>location: <%= @user.location if @user.location %></p>
<p>phone: <%= @user.phone if @user.phone %></p>


<h2>Great, get my weather!</h2>
<%= link_to "Show me", forecasts_index_path(), :class => 'btn'   %>


