<% if user_signed_in? %>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to "Home", root_path, :class => 'brand' %>
          </li>
          <li>
            <%= link_to 'Logout', signout_path %>
          </li>
        </ul>
      </div>
    </nav>
<% end %>


